.top-right{
    display: flex;
    position: absolute;
    height: 100%;
    right: 56px;
}

@media (max-width: 479px) {
    .top-right{
        position: relative;
        right: auto;
        left: auto;
    }
}