@media (min-width: 1024px) {
    .content{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding-bottom: 10px;
        max-width: 1024px;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .left-split {
        flex: 1;
        margin-right: 30px;
    }
}

.stretch-content{
    background-color: transparent;
    padding: 20px;
}

@media (min-width: 1024px) {
    .stretch-content{
        padding: 0 0;
        margin: 0 auto;
    }
}

.row > div:not(.ads) {
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #e2e2e2;
}

.row.only-title > div{
    margin: 8px 0;
    padding-bottom: 0;
}

.teaserimg .play-icon{
    position: absolute;
    z-index: 2;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.author{
    margin-top: 10px;
    color: #003055;
    font-weight: 200;
    font-size: 13px;
    line-height: 16px;
}

.name{
    display: inline-block;
    font-weight: 500;
    white-space: normal;
    text-transform: capitalize;
}

@media (min-width: 768px) {
    .column{
        display: flex;
        flex-direction: row;
        margin-left: -1%;
        margin-right: -1%;
    }
}

.column > div{
    margin: 0 1%;
}

@media (min-width: 768px) {
    .column > div{
        width: 48%;
    }
}

@media(min-width: 768px){
    .column > *{
        margin: 0;
        width: calc(50% - 10px);
    }
}