.Litem{
    color: #ffffff;
    font-size: 14px;
    line-height: 17px;
    padding: 16px 16px 13px 16px;
    border-bottom: 3px solid transparent;
}

@media(min-width: 1024px){
    .Litem{
        padding: 0;
        border-bottom: none;
    }
    .Litem:not(:first-child){
        margin-left: 20px;
    }
}