@media (min-width: 1024px) {
    .middle-section {
        padding: 0 28px;
        flex: 1;
        display: flex;
    }

    .middle-section .actions{
        display: flex;
        align-items: center;
        position: relative;
        width: 53px;
    }
}

.middle-section{
    overflow-x: auto;
}