.trending-topics{
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
}

.trending-topics span{
    flex-shrink: 0;
    color: #93C8FF;
}

@media(min-width:1024px) {
    .trending-topics{
        display: flex;
    }

    .trending-topics span{
        font-size: 14px;
        line-height: 17px;
        margin-right: 20px;
        font-weight: bold;
    }
}

@media(max-width:479px) {
    .trending-topics{
        text-overflow: ellipsis;
        font-size: 10px;
    };

    .trending-topics span{
        font-size: 12px;
        margin-right: 4px;
    }
}